<h1><i> Enter a New Recipe: </i></h1>
<br>
<form action="/recipes" method="post">
  <label for="recipe_name">Recipe:</label>
  <input id="recipe_name" name="name" type="text">
<br>
  <label for="recipe_stars">Rating:</label>
  <input id="recipe_stars" name="stars" type="text">
<br><br>
  <button>Submit a New Recipe</button>
</form>

<br>
<br>

<p><a href="/recipes">Return To Recipe Index</a></p>
