<h1>Please enter a new tag:</h1>

<br>
<form action="/tags" method="post">
  <label for="tag_name">Tag:</label>
  <input id="tag_name" name="name" type="text">
<br>
<br>
  <button>Submit a New Tag</button>
</form>

<br>
<br>

<p><a href="/tags">Return To Tag Index</a></p>
